<div class="row">
  <div class="medium-12 columns">
    <h1>Equipo</h1>
    
	{{#each persona in model}}
    	<div class="medium-6 columns">
    			{{#if persona.avatar}}
    				<div class="panel clearfix personas" style="background-image:url(images/equipo/{{unbound persona.avatar}});">
				{{else}}
		    		<div class="panel clearfix personas">
				{{/if}}

	    		<h2>{{persona.nombre}}</h2>

				{{#if persona.twitter}}
					<a href="https://twitter.com/{{unbound persona.twitter}}" target="_blank" title="@{{unbound persona.twitter}}">
	                    <i class="icon icon-twitter"></i>
	                </a>
				{{/if}}

				{{#if persona.facebook}}
					<a href="https://facebook.com/{{unbound persona.facebook}}" target="_blank" title="Facebook">
	                    <i class="icon icon-facebook"></i>
	                </a>
				{{/if}}

				{{#if persona.googleplus}}
					<a href="https://plus.google.com/{{unbound persona.googleplus}}" target="_blank" title="Google+">
	                    <i class="icon icon-google-plus"></i>
	                </a>
				{{/if}}

				{{#if persona.cv}}
					<a href="http://equipo.dixit.com.py/{{unbound persona.cv}}" title="Currículum vitae">
	                    <i class="icon icon-nota"></i>
	                </a>
				{{/if}}

				{{#if persona.mail}}
					<a href="mailto:{{unbound persona.mail}}" title="Enviar correo">
	                    <i class="icon icon-mail"></i>
	                </a>
				{{/if}}
	    		
    		</div>
	  	</div>
	{{/each}}
	</div>
</div>